.button {
  &.is--following {
    background: #fff;
    color: var(--black);
    border: 1px solid var(--grey-accent-400);
    border-radius: 4px;

    &:hover {
      background: var(--grey-100);
    }
  }
}
