@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./reset.scss";

:root {
  --pink: #fe2c55;
  --white: #fff;
  --grey: #161823bf;
  --grey-200: #16182380;
  --grey-100: #16182308;

  --primary-layout-main-width: 1150px;
  --header-height: 60px;
}

body {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 3px;
  }
}

.pink-font {
  color: var(--pink);
}

.tippy-box {
  background-color: transparent;
  .tippy-content {
    text-align: left;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(84, 84, 84, 0.92);
    padding: 8px;
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
}
