@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./reset.scss";

:root {
  --black: #161823;
  --pink: #fe2c55;
  --white: #fff;
  --grey: #161823bf;
  --grey-100: #16182308;
  --grey-200: #16182380;

  --primary-layout-main-width: 1150px;
  --header-height: 60px;
}

body {
  color: var(--black);
  font-size: 16px;
  font-family: "Outfit", sans-serif;

  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 3px;
  }
}

img,
*::placeholder {
  user-select: none;
}
select {
  cursor: pointer;
}

// scrollbar

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

//

.small-font {
  font-size: 12px;
  color: var(--grey);
}
.pink-font {
  color: var(--pink);
}

.tippy-box {
  background-color: transparent;

  .tippy-content {
    text-align: left;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(84, 84, 84, 0.92);
    padding: 8px;
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
}

//
.hover-underlined {
  &:hover {
    text-decoration: underline;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}

.scroll-snap-ymandatory {
  scroll-snap-type: y mandatory;
  overflow: auto;
}
.scroll-snap-alignCenter {
  scroll-snap-align: center;
}
