.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;

  display: grid;
  place-items: center;
}
.modal {
  min-width: 400px;
  min-height: 280px;
  border-radius: 8px;
  background: #fff;
  // border: 1px solid var(--grey-100);
  box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;

  position: relative;
  animation: scaleUp 0.2s ease-out;

  &.noAnimation {
    animation: none;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.closeBtn {
  width: 24px;
  height: 24px;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  background: var(--grey-100);
  position: absolute;
  top: 24px;
  right: 24px;

  > svg {
    width: 15px;
    height: 15px;
  }
}
