.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  display: grid;
  place-items: center;
}
.modal {
  min-width: 400px;
  min-height: 280px;
  border-radius: 8px;
  background: #fff;
  padding: 40px 32px 32px;
  border: 1px solid rgba(22, 24, 35, 0.03);
  box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;

  position: relative;
}
.closeBtn {
  width: 25px;
  height: 25px;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  position: absolute;
  top: 16px;
  right: 16px;
}
