.results__wrapper {
  margin-top: -2px;
  min-width: 223px;
  width: 100%;
  padding-top: 8px;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

  max-height: 400px;
  overflow-y: overlay;

  &:hover::-webkit-scrollbar-thumb {
    display: block;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e5e5e580;
    border-radius: 3px;
    display: none;
  }
}
.results__title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--grey-200);
  background: #fff;

  position: sticky;
  top: -8px;
}
.results__cont {
  display: flex;
  flex-direction: column;
}
.results__item {
  padding: 9px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 100%;

  outline: none;
  cursor: pointer;

  &:focus-within,
  &:hover {
    background: var(--grey-100);
  }
}
.results__item-image {
  --size: 40px;
  display: inline-block;
  min-width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;

  img {
    max-width: unset;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
  }
}
.results__item-accNames {
  flex: 0 1 auto;
  min-width: 0px;
  width: 100%;
}
.results__item-accDisplayName {
  font-weight: 500;
  font-size: 16px;

  display: flex;
  align-items: center;
  gap: 4px;

  span {
    max-width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.results__item-accUsername {
  font-size: 14px;
  color: var(--grey);
  font-weight: 400;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.results__viewAllBtn {
  --paddingInline: 16px;
  all: unset;
  font-weight: 500;
  padding: 15px;
  padding-inline: var(--paddingInline);

  display: block;
  width: calc(100% - 2 * var(--paddingInline));
  cursor: pointer;

  &:hover,
  &:focus-within {
    background: rgba(22, 24, 35, 0.03);
  }
}
