.container {
  flex-direction: column;
  margin-block: 62px 20px;
}

.tryAgain-button {
  font-size: 18px;
  font-weight: 600;
  margin-top: 62px;

  padding: 6px 8px;
  width: 168px;
  height: 48px;
}
