.spinner {
  --spinner-size: 12px;
  display: inline-flex;
  position: relative;
  width: var(--spinner-size);
  height: var(--spinner-size);
  aspect-ratio: 1;
  animation: spinner 1s linear infinite;

  svg.spinner__icon {
    width: inherit;
    height: inherit;
    fill: currentColor;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
