.btn,
.btn.unset {
  padding: 6px 8px;
  border-radius: 4px;

  font-weight: 600;
  font-size: 16px;

  min-height: 36px;
  border: 1px solid transparent;
}
.btn {
  min-width: 100px;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &.rounded {
    border-radius: 100px;
  }
  &.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.large {
    min-height: 48px;
    font-size: 18px;
  }
  &.unset {
    min-width: 0;
  }
  &.primary {
    color: var(--white);
    background: var(--pink);
    &:hover {
      background: linear-gradient(0deg, #0000000f, #0000000f), #fe2c55;
    }
  }
  &.outlined {
    color: var(--pink);
    border-color: var(--pink);
    background: #fff;

    &:hover {
      background: #fe2c550f;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
